body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* TODO: definir los colores y fuentes */
/* :root {
  --primary-blue: rgb(12, 49, 136);
  --secondary-blue: rgb(0, 168, 255);
  --light-blue: rgb(224, 240, 255);
  --error-red: rgb(255, 0, 0);
  --success-green: rgb(0, 255, 0);
  
  --main-white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

.button-primary {
  background-color: var(--primary-blue);
  color: var(--main-white);
}

.link-primary {
  color: var(--primary-blue);
} */