body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --font-family-base: 'Inter', sans-serif;
  --font-size-xlarge: 24px;
  --font-size-base: 15px;
  --font-size-medium: 12px;
  --font-size-small: 11px;
  --font-weight-base: 500;
}

.bg-surface { background-color: var(--color-surface) !important; }
.bg-neutral-light { background-color: var(--color-neutral-light) !important; }
.bg-success { background-color: var(--color-success) !important; }
.bg-danger { background-color: var(--color-error) !important; }
.bg-warning { background-color: var(--color-warning) !important; }
.bg-primary { background-color: var(--color-primary) !important; }
.bg-neutral { background-color: var(--color-neutral) !important; }

.text-default { color: var(--color-text) !important; }
.text-muted { color: var(--color-text-muted) !important; }
.text-primary { color: var(--color-primary) !important; }
.text-success { color: var(--color-success) !important; }
.text-danger { color: var(--color-error) !important; }
.text-warning { color: var(--color-warning) !important; }
.text-white { color: #ffffff !important; }
