.home-body{
    display: flex;
    position: relative;
    top: -1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-grid {
    overflow: auto;
    display: grid;
    grid-template-areas:
        "banner banner"
        "banner banner"
        "banner banner"
        "infoEstadistica infoEstadistica"
        "profesionales profesionales"
        "profesionales profesionales"
        "funcionamiento funcionamiento"
        "funcionamiento funcionamiento"
        "funcionamiento funcionamiento"
        "tieneObraSocial tieneObraSocial"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
}

@media (min-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.banner {
    grid-area: banner;
    background: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.infoEstadistica {
    grid-area: infoEstadistica;
}
.especialidades { grid-area: especialidades; }
.profesionales { grid-area: profesionales; }
.funcionamiento {
    grid-area: funcionamiento;
}
.tieneObraSocial {
    grid-area: tieneObraSocial;
    background-color: var(--color-primary);
    color: white;
}
.tieneObraSocialSubtitulo {
    color: var(--color-text-muted);
    font-weight: bold;
}

.spanEstadistica {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-secondary);
    font-size: 1.5rem;
    text-align: center;
}

.text-muted {
    font-weight: bold;
    color: var(--color-text-muted)
}

.banner .banner-subtitulo {
    color: var(--color-text-muted);
    font-weight: bold;
}
.titulo {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .titulo {
        font-size: 3.5rem;
    }
}

.banner-titulo {
    width: 100%;
}

.chip-cobertura {
    width: 100%;
}

@media (min-width: 768px) {
    .banner-titulo {
        width: 50%;
    }
    .chip-cobertura {
        width: 50%;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (min-width: 768px) {
    .cards-container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.step-card {
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .step-card {
        width: 25%;
        margin-bottom: 0;
    }
}
